<!--<servicio-parqueadero (mostrarRegistroEntradaEvent)="mostrarRegistroEntrada($event)"></servicio-parqueadero>-->

<!--<entrada-parqueadero></entrada-parqueadero>
<lista-cobro></lista-cobro>
<salida-parqueadero></salida-parqueadero> -->

<div class="row">
    <div class="col-3">
        <form>
            <fieldset>
                <legend>Registrar entrada</legend>
                <div class="form-group">
                    <label class="col-form-label">Placa</label>
                    <input type="text" class="form-control" placeholder="Ingrese el nro de placa" name="placa" [(ngModel)]="placa" />
                </div>
                <div class="form-group">
                    <label class="col-form-label">Cilindraje(En caso de motocicleta)</label>
                    <input type="text" class="form-control" placeholder="Ingrese el cilindraje" name="cilindraje" [(ngModel)]="cilindraje" />
                </div>
                <button type="button" class="btn btn-primary" *ngIf="placa" (click)="registrarEntrada()">Enviar</button>
            </fieldset>
        </form>
        <hr>

        <div class="alert alert-dismissible alert-success" *ngIf="entradaRegistrada.id">
            <strong>Entrada registrada!</strong> para vehiculo con placa
            <strong>{{entradaRegistrada.placa}}</strong>.
        </div>

        <div class="alert alert-dismissible alert-danger" *ngIf="entradaRegistrada.error">
            <strong>Ha ocurrido un error!</strong> {{entradaRegistrada.error}}.
        </div>
    </div>
    <div class="col-6">
        <fieldset>
            <legend>Lista de Cobros</legend>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th scope="col">Id</th>
                            <th scope="col">Placa</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Fecha Entrada</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of listaCobros">
                            <td>{{c.id}}</td>
                            <td>{{c.placa}}</td>
                            <td>{{c.tipo}}</td>
                            <td>{{c.fechaEntrada | date: 'dd/MM/yyyy HH:mm'}}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" (click)="seleccionarCobroSalida(c)">Salida</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </fieldset>

    </div>
    <div class="col-3">
        <form>
            <fieldset>
                <legend>Registrar salida</legend>
                <div class="form-group">
                    <label>Placa</label>:
                    <strong>{{cobroSalida.placa}}</strong>
                </div>
                <div class="form-group">
                    <label>Cilindraje</label>:
                    <strong>{{cobroSalida.cilindraje}}</strong>
                </div>
                <div class="form-group">
                    <label>Fecha entrada</label>:
                    <strong>{{cobroSalida.fechaEntrada | date: 'dd/MM/yyyy HH:mm'}}</strong>
                </div>
                <button type="button" class="btn btn-primary" *ngIf="!cobroSalida.fechaSalida && cobroSalida.id " (click)="registrarSalida()">Registrar</button>
            </fieldset>
        </form>
        <hr>
        <div class="alert alert-dismissible alert-success" *ngIf="cobroSalida.fechaSalida">
            <strong>Salida registrada!</strong> para vehiculo con placa
            <strong>{{cobroSalida.placa}}</strong>, el tiempo del servicio fueron
            <strong>{{cobroSalida.descripcionTiempoServicio}}</strong>
            y el valor a pagar es:
            <strong>${{cobroSalida.valorServicio}}</strong>
        </div>

        <div class="alert alert-dismissible alert-danger" *ngIf="cobroSalida.error">
            <strong>Ha ocurrido un error!</strong> {{cobroSalida.error}}.
        </div>
    </div>
</div>