<!--<servicio-parqueadero (mostrarRegistroEntradaEvent)="mostrarRegistroEntrada($event)"></servicio-parqueadero>-->

<entrada-parqueadero></entrada-parqueadero>
<lista-cobro></lista-cobro>




<!--<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active show" data-toggle="tab" href="#lista">Lista</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#entrada">Entrada</a>
    </li>

</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="lista">
        <lista-cobro></lista-cobro>
    </div>
    <div class="tab-pane fade" id="entrada">
        <entrada-parqueadero></entrada-parqueadero>
    </div>
</div>-->